.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.button-style {
    width: 130px;
    height: 90px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    cursor: pointer;
    outline: 0px;
    font-size: 30px;
    color: white;

  }
  
  .button-style2 {
    width: 200px;
    height: 90px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    cursor: pointer;
    outline: 0px;
    font-size: 20px;
    margin: 0 15px;
    color: white;
    
  
  }
  